/*fonts: 'Fira Sans', 'Playfair Display', Ranga*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #a23131;
  font-family: "Ranga", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  margin: 150px 0 0;
  text-align: center;
}
nav .logo {
  width: 50px;
}

.green-color {
  background: rgb(161, 221, 112);
}

.white-color {
  background: #fdfff0;
}

.beige-color {
  background: rgb(232, 236, 213);
}

.red-color {
  background: #a23131;
}

body {
  background-image: linear-gradient(
      rgba(161, 221, 112, 0.8),
      rgba(161, 221, 112, 0.8)
    ),
    url("images/background-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* box-shadow: inset 0 0 0 1000px rgba(161, 221, 112, 0.8); */
  color: darkslategray;
  line-height: 1.75rem;
  font-size: 22px;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  font-family: "Playfair Display", sans-serif;
}

h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 34px;
  margin: 10px 0 30px;
}

nav.nav-top {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 80px;
  background-color: rgba(232, 236, 213, 0.8);
  z-index: 1;
}

.nav-item {
  padding-left: 15px;
}

.recipe-image {
  border-radius: 20px;

  width: 100%;
  margin-bottom: 30px;
}

/* Parent Container */
.image-content {
  position: relative;
  width: 200px;
  height: inherit;
  float: left;
  margin-right: 10px;
}

/* Child Text Container */
.image-content div {
  position: absolute;
  top: 0;
  background: darkslategray;
  color: white;
  /* margin-bottom: 5px; */
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  border-radius: 20px 0 20px 0;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
}

/* Hover on Parent Container */
.image-content:hover {
  cursor: pointer;
}

.image-content:hover div {
  width: 200px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7;
}

@media only screen and (max-width: 576px) {
  .recipe-image {
    width: 100%;
  }
}

.carousel-inner > .carousel-item > img {
  border-radius: 20px;
  object-fit: cover;
  width: 540px;
  height: 660px;
  overflow: hidden;
}

.carousel-caption {
  color: #fdfff0;
}
.carousel-caption > h5 {
  margin-bottom: 0;
  border-radius: 5px 5px 0 0;
}
.carousel-caption > p {
  margin-bottom: 0;
  border-radius: 0 0 5px 5px;
}
.carousel-caption > h5,
.carousel-caption > p {
  background-color: rgb(47 79 79 / 65%);
}
.carousel-control-next-icon {
  border-radius: 50%;
  background-color: darkslategray;
}

.carousel-control-prev-icon {
  border-radius: 50%;
  background-color: darkslategray;
}

.carousel-control-next {
  /* background-color: darkslategray; */
  left: 635.25px;
}

.carousel-control-prev {
  /* background-color: darkslategray; */
  left: -94.25px;
}
.hero-gallery {
  width: 635px;
  margin: 50px auto 0;
}

.recipe-section {
  margin: 150px 0;
  background-image: url("images/cutting-board.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: padding-box;
  border-radius: 20px;
  padding: 20px;
  border: solid 10px;
  box-shadow: 5px 5px 15px darkslategray;
}

.share-btn {
  margin: 20px 0;
  padding: 8px 15px;
  align-items: center;
  font-size: 1.5rem;
  border: 2px solid darkslategray;
}

#porridge,
#boxty,
#detroit-pizza,
#steak-eggs {
  bottom: 100px;
  position: relative;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}

.social-links a {
  text-decoration: none;
}

.social-media-icon {
  color: #a23131;
  margin: 0 40px;
  width: 50px;
}

#connect {
  margin-bottom: 100px;
}
